{{! <h1>Skate Park</h1>

<div class="py-4">
    <h2>Administraci칩n</h2>
    <hr class="w-50" />

    <table class="table table-dark w-50 m-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">A침os de experiencia</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><div></div></td>
                <td>Tony Hawk</td>
                <td>12</td>
                <td>Kickflip</td>
                <td><input type="checkbox" checked /></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><div></div></td>
                <td>Evelien Bouilliart</td>
                <td>10</td>
                <td>Heelflip</td>
                <td><input type="checkbox" checked /></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><div></div></td>
                <td>Danny Way</td>
                <td>8</td>
                <td>Ollie</td>
                <td><input type="checkbox" /></td>
            </tr>
        </tbody>
    </table>
</div> }}

<h1>Skate Park</h1>

<div class="py-4">
    <h2>Administraci칩n</h2>
    <hr class="w-50" />

    <table class="table table-dark w-50 m-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">A침os de experiencia</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {{#if data}}

                {{#each data}}

                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td><div><img src={{this.foto}} alt="{{this.nombre}}" class="img" /></div></td>
                        <td>{{this.nombre}}</td>
                        <td>{{this.anos_experiencia}}</td>
                        <td>{{this.especialidad}}</td>
                        {{#if estado}}
                            <td><input type="checkbox" checked class="check" id="{{this.id}}" /></td>
                        {{else}}
                            <td><input type="checkbox" class="check" id="{{this.id}}" /></td>
                        {{/if}}
                    </tr>

                {{/each}}

            {{/if}}

        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./assets/js/admin.js"></script>